html {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #9E58E3;
}

body {
 width: 1000px;
 margin: 3em auto 3em;
 padding: 0 20px 20px 20px;
 border: 4px solid #7513D6;
}

.picture {
 display: block;
 margin: 0 auto;
 margin-top: 50px;
 margin-bottom: 40px;
}

h1 {
 font-size: 48px;
 text-align: center;
 color: #E8D1FF;
 margin: 0;
 padding: 20px 0;
 text-shadow: 2px 2px 1px black;
}

p, li {
 font-size: 20px;
 line-height: 1.5;
 letter-spacing: 1px;
}
